body {
    background-color: black;
    background: url(https://64.media.tumblr.com/c9fb21aed105c38026ca379ed14abeec/81d920e7dbf06c03-9d/s250x400/6c4ab0261d0665c3630916c589341e08f07e68b9.gifv) center repeat;
}

.starpoo{
    text-align: center;
}

#starpoo_image{

}

.playlist{
    text-align: center;
    padding: 50px;
}

.dennisPop{
    text-align: center;
}